In [2]:
from urllib.request import urlopen
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import re

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
#Get Hawkeye data from cricket api
def get_url_hawkeye(match_id):
    try:
        url = f'https://cricketapi-icc.pulselive.com//fixtures/{match_id}/uds/stats'
    except:
        url = f'https://cricketapi.platform.iplt20.com//fixtures/{match_id}/uds/stats'
    return url

In [5]:
#Get scoring data from cricket api
def get_url_metadata(match_id):
    try:
        url = f'https://cricketapi-icc.pulselive.com//fixtures/{match_id}/scoring'
    except:
        url = f'https://cricketapi.platform.iplt20.com//fixtures/{match_id}/scoring'
    return url

In [6]:
#Get the data in the parsed html format
def get_soup_from_url(url):
    try:
        html = urlopen(url).read()
    except HTTPError:
        print("Link Cannot be Reached", url)
        return -1
        
    #soup = BeautifulSoup(html,"lxml")
    soup = BeautifulSoup(html,"html.parser")
    return str(soup)

In [7]:
def get_tracking_df_from_matchid(match_id):
  try:
    df = pd.DataFrame(
        [[k]+v.split(',') for i in json.loads(get_soup_from_url(get_url_hawkeye(match_id)))['data'] 
         for k,v in i.items()],
        columns = ['over','ball_num','batter','non-striker',
                   'bowler','speed','catcher','dismissal_desc',
                   'total_extras','runs','bowler_extras','extra_type',
                  'otw','length','line','line_at_stumps',
                  'height_at_stumps','shot_dist0','shot_dist1','blank2',
                   'blank3','blank4']
    )
    df['match_id'] = str(match_id)
    if ((df.shape[0] == 0) | 
       ((df.speed.nunique() == 1) & 
        (df.length.nunique() == 1) & 
        (df.line.nunique() == 1) & 
        (df.line_at_stumps.nunique() == 1) & 
        (df.height_at_stumps.nunique() == 1))) :
        return
    else:
      df['over'] = df.over.apply(lambda x: str(x).split('.'))
      df['match_inn'] = df.over.apply(lambda x: x[0])
      df['over_ball'] = pd.to_numeric(df.over.apply(lambda x: x[2]), errors='coerce')
      df['over_num'] = pd.to_numeric(df.over.apply(lambda x: x[1]), errors='coerce')
      df.drop('over', axis=1, inplace=True)

      df['speed'] = pd.to_numeric(df['speed'], errors='coerce')*3.6
      df.loc[df.speed < 0, 'speed'] = np.nan

      df['length'] = pd.to_numeric(df['length'], errors='coerce')
      df['line'] = pd.to_numeric(df['line'], errors='coerce')
      df['line_at_stumps'] = pd.to_numeric(df['line_at_stumps'], errors='coerce')
      df['height_at_stumps'] = pd.to_numeric(df['height_at_stumps'], errors='coerce')
      df['deviation'] = df.line_at_stumps - df.line
      return df
  except:
    print(f"couldn't retrieve data for match {match_id}. Please check {get_url_hawkeye(match_id)} to debug")
    return

In [8]:
wtc=get_tracking_df_from_matchid(23469)

In [10]:
def get_metadata_df_from_matchid(match_id):
  m = json.loads(get_soup_from_url(get_url_metadata(match_id)))
  this_match = pd.DataFrame([{k: v for k,v in m['matchInfo'].items() if k in [
    'matchDate', 'matchEndDate','isLimitedOvers', 'description', 'matchType', 'tournamentLabel']}])
  this_match['match_id'] = match_id
  try:
      this_match['toss_elected'] = m['matchInfo']['additionalInfo']['toss.elected']
  except:
      this_match['toss_elected'] = ''
  this_match['venue_id'] = m['matchInfo']['venue']['id']
  try:
      this_match['team1_wk'] = m['matchInfo']['teams'][0]['wicketKeeper']['id']
      this_match['team2_wk'] = m['matchInfo']['teams'][1]['wicketKeeper']['id']
  except:
      this_match['team1_wk'] = ''
      this_match['team2_wk'] = ''
  this_match['team1'] = m['matchInfo']['teams'][0]['team']['fullName']
  this_match['team2'] = m['matchInfo']['teams'][1]['team']['fullName']
  match_df = this_match
  venue_df = pd.DataFrame([m['matchInfo']['venue']])
  player_df = pd.concat([pd.DataFrame(m['matchInfo']['teams'][0]['players']),
                         pd.DataFrame(m['matchInfo']['teams'][1]['players'])]).drop_duplicates()
  
  #venue_df.drop('coordinates',axis=1, inplace=True)
  player_df['batter_hand'] = player_df.rightHandedBat.apply(lambda x: 'R' if x else 'L')
  player_df['bowler_hand'] = player_df.rightArmedBowl.apply(lambda x: 'R' if x else 'L')
  match_df.matchType = match_df.apply(lambda x: 'W_' + x.matchType if 
               re.search('women', x.tournamentLabel.lower()) else x.matchType,
              axis=1)
  match_df['toss_winner'] = match_df.toss_elected.apply(lambda x: str(x).strip().lower().split(',')[0])
  match_df['toss_decision'] = match_df.toss_elected.apply(lambda x: str(x).lower().strip('.').split(' ')[-1])
  match_df['toss_decision'] = match_df.toss_decision.apply(lambda x: 'field' if str(x)=='bowl' else str(x))
  match_df['toss_decision'] = match_df.toss_decision.apply(lambda x: x if str(x) in ['field','bat'] else '')
  match_df.drop('toss_elected', axis=1, inplace=True)
  return {'match_metadata': match_df,
          'player_metadata': player_df,
          'venue_metadata': venue_df}

In [11]:
wtc_meta=get_metadata_df_from_matchid(23469)

In [12]:
wtc.head(40)

,ball_num,batter,non-striker,bowler,speed,catcher,dismissal_desc,total_extras,runs,bowler_extras,extra_type,otw,length,line,line_at_stumps,height_at_stumps,shot_dist0,shot_dist1,blank2,blank3,blank4,match_id,match_inn,over_ball,over_num,deviation
0,1,107,179,3840,131.8032,-1,,2,2,2,,y,6.214,-0.061,0.182,0.574,72,37,,,,23469,1,1,1,0.243
1,2,107,179,3840,139.0428,-1,,0,0,0,,y,7.023,-0.259,-0.021,0.759,0,0,,,,23469,1,2,1,0.238
2,3,107,179,3840,142.2108,-1,,0,0,0,,y,9.435,-0.435,-0.051,0.924,0,0,,,,23469,1,3,1,0.384
3,4,107,179,3840,138.3660,-1,,2,2,2,,y,7.585,-0.204,0.173,0.781,69,19,,,,23469,1,4,1,0.377
4,5,107,179,3840,140.9256,-1,,0,0,0,,y,8.482,-0.462,-0.148,0.796,0,0,,,,23469,1,5,1,0.314
5,6,107,179,3840,143.8200,-1,,1,1,1,,y,7.998,-0.359,0.065,0.795,67,19,,,,23469,1,6,1,0.424
6,1,107,179,1616,128.3040,-1,,1,1,1,,y,3.099,-0.022,0.232,0.349,56,51,,,,23469,1,1,2,0.254
7,2,179,107,1616,131.9508,-1,,0,0,0,,y,7.603,-0.138,0.328,0.806,0,0,,,,23469,1,2,2,0.466
8,3,179,107,1616,137.9448,-1,,0,0,0,,y,5.359,-0.169,0.037,0.752,0,0,,,,23469,1,3,2,0.206
9,4,179,107,1616,129.1140,-1,,0,0,0,,y,6.465,-0.424,-0.128,0.612,0,0,,,,23469,1,4,2,0.296
10,5,179,107,1616,139.2228,-1,,0,0,0,,y,8.174,-0.344,0.058,0.904,0,0,,,,23469,1,5,2,0.402
11,6,179,107,1616,136.1484,-1,,0,0,0,,y,8.902,-0.525,-0.275,0.924,0,0,,,,23469,1,6,2,0.250
12,1,107,179,3840,142.8768,-1,,0,0,0,,y,6.096,-0.362,-0.086,0.560,0,0,,,,23469,1,1,3,0.276
13,2,107,179,3840,136.3932,-1,,0,0,0,,y,6.394,-0.417,-0.217,0.646,0,0,,,,23469,1,2,3,0.200
14,3,107,179,3840,134.0964,-1,,0,0,0,,y,9.439,-0.530,-0.123,0.783,0,0,,,,23469,1,3,3,0.407
15,4,107,179,3840,138.3192,-1,,0,0,0,,y,6.587,-0.191,0.236,0.528,0,0,,,,23469,1,4,3,0.427
16,5,107,179,3840,140.3244,-1,,4,4,4,,y,6.483,-0.472,-0.293,0.560,21,73,,,,23469,1,5,3,0.179
17,6,107,179,3840,138.1140,-1,,2,2,2,,y,8.854,-0.350,0.032,0.930,76,46,,,,23469,1,6,3,0.382
18,1,179,107,111,88.7040,-1,,0,0,0,,y,5.084,0.073,0.133,0.577,0,0,,,,23469,1,1,4,0.060
19,2,179,107,111,94.6800,-1,,4,4,4,,y,4.776,-0.223,0.009,0.641,49,4,,,,23469,1,2,4,0.232
20,3,179,107,111,89.4636,-1,,1,1,1,,y,6.311,0.129,0.194,0.563,34,64,,,,23469,1,3,4,0.065
21,4,107,179,111,89.4240,-1,,6,6,6,,y,4.896,0.003,-0.018,0.694,58,77,,,,23469,1,4,4,-0.021
22,5,107,179,111,90.6984,-1,,1,1,1,,y,5.896,0.086,0.139,0.764,61,44,,,,23469,1,5,4,0.053
23,6,179,107,111,87.8760,107,run out (Virat Kohli/Yuzvendra Chahal),0,0,0,,y,6.324,-0.251,-0.048,0.797,0,0,,,,23469,1,6,4,0.203
24,1,108,179,1616,136.7064,-1,,4,4,4,,y,8.269,-0.172,0.319,0.999,85,39,,,,23469,1,1,5,0.491
25,2,108,179,1616,140.8104,-1,,0,0,0,,y,3.791,-0.280,-0.163,0.410,0,0,,,,23469,1,2,5,0.117
26,3,108,179,1616,NaN,-1,,1,1,1,,y,NaN,NaN,NaN,NaN,67,19,,,,23469,1,3,5,NaN
27,4,179,108,1616,111.4956,-1,,1,1,1,,y,6.349,-0.182,0.047,0.698,18,24,,,,23469,1,4,5,0.229
28,5,108,179,1616,133.9956,-1,,0,0,0,,y,6.489,-0.265,0.042,0.708,0,0,,,,23469,1,5,5,0.307
29,6,108,179,1616,138.7800,-1,,0,0,0,,y,6.926,-0.585,-0.441,0.813,0,0,,,,23469,1,6,5,0.144
30,1,179,108,111,86.0256,-1,,0,0,0,,y,5.551,-0.043,-0.186,0.755,0,0,,,,23469,1,1,6,-0.143
31,2,179,108,111,86.2740,-1,,6,6,6,,y,4.643,0.013,0.152,0.685,54,79,,,,23469,1,2,6,0.139
32,3,179,108,111,88.7580,-1,,0,0,0,,y,6.326,-0.190,0.016,0.726,0,0,,,,23469,1,3,6,0.206
33,4,179,108,111,85.3524,-1,,1,1,1,,y,6.138,-0.161,0.300,0.785,69,44,,,,23469,1,4,6,0.461
34,5,108,179,111,89.0172,-1,,0,0,0,,y,5.106,0.045,0.117,0.736,0,0,,,,23469,1,5,6,0.072
35,6,108,179,111,79.9416,-1,,4,4,4,,y,6.181,-0.292,-0.761,0.700,3,42,,,,23469,1,6,6,-0.469
36,1,179,108,13803,92.3652,-1,,1,1,1,,y,5.708,-0.068,0.023,0.731,29,68,,,,23469,1,1,7,0.091
37,2,108,179,13803,95.8428,-1,,1,1,1,,y,3.374,-0.028,0.103,0.534,32,71,,,,23469,1,2,7,0.131
38,3,179,108,13803,83.6064,-1,,4,4,4,,y,6.015,-0.106,-0.271,0.754,5,57,,,,23469,1,3,7,-0.165
39,4,179,108,13803,NaN,-1,,6,6,6,,y,NaN,NaN,NaN,NaN,58,77,,,,23469,1,4,7,NaN

In [15]:
wtc_meta['match_metadata']

,matchDate,matchEndDate,isLimitedOvers,description,matchType,tournamentLabel,match_id,venue_id,team1_wk,team2_wk,team1,team2,toss_winner,toss_decision
0,2021-04-09T19:30:00+0530,2021-04-09T23:00:00+0530,True,Match 1,IPLT20,IPL 2021,23469,1,2975,233,Mumbai Indians,Royal Challengers Bangalore,royal challengers bangalore,field